include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"

spawn-at-startup "solaar" "--window" "hide"
binds {
  Mod+Return hotkey-overlay-title="Open Terminal" { spawn "neovide" "--" "-c" "term"; }
  Mod+D hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
  Mod+Shift+H { focus-column-left; }
  Mod+Shift+L { focus-column-right; }
  Mod+Shift+K { focus-window-up; }
  Mod+Shift+J { focus-window-down; }
  Print allow-inhibiting=false { spawn-sh "niri msg action screenshot && wl-paste | swappy -f -"; }
  Mod+S allow-inhibiting=false { spawn-sh "niri msg action screenshot && wl-paste | swappy -f -"; }
}
environment {
    SHELL "nu"
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULE "fcitx"
}
input {
  keyboard {
    xkb {
      options "ctrl:nocaps"
    }
  }
}
