include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"

spawn-at-startup "solaar" "--window" "hide"
binds {
  Mod+Return hotkey-overlay-title="Open Terminal" { spawn "alacritty"; }
  Mod+D hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
  Mod+F { maximize-window-to-edges; }
  Mod+Shift+F { fullscreen-window;  }
  Mod+Alt+F { toggle-windowed-fullscreen;  }
  Mod+Shift+H { focus-column-left; }
  Mod+Shift+L { focus-column-right; }
  Mod+Shift+K { focus-window-up; }
  Mod+Shift+J { focus-window-down; }
  Print allow-inhibiting=false { spawn-sh "niri msg action screenshot -p false && niri msg --json event-stream | rg -m 1 ScreenshotCaptured && wl-paste | swappy -f -"; }
  Mod+S allow-inhibiting=false { spawn-sh "niri msg action screenshot -p false && niri msg --json event-stream | rg -m 1 ScreenshotCaptured && wl-paste | swappy -f -"; }
}
environment {
    SHELL "nu"
    XMODIFIERS "@im=fcitx"
    GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
}
input {
  keyboard {
    xkb {
      options "ctrl:nocaps"
    }
    numlock
  }
}
recent-windows {
  // off
  debounce-ms 750

  open-delay-ms 150

  highlight {
    active-color "#999999ff"
    urgent-color "#ff9999ff"
    padding 30
    corner-radius 0
  }

  previews {
      max-height 480
      max-scale 0.5
  }

  binds {
    Mod+Tab         { next-window; }
    Mod+Shift+Tab   { previous-window; }
    Mod+grave       { next-window     filter="app-id"; }
    Mod+Shift+grave { previous-window filter="app-id"; }
  }
}
